body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #fff0bc;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}
.main{
    width: 100%; 
    height: 100%;
    background: url('../assets/main-page.jpg') center/cover no-repeat;
    background-size: 100% 100%;
    font-family: 'Roboto Condensed', sans-serif;
    top: 0;
    left: 0;
}
.main-text{
    position: absolute; 
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 30%;
    height:40%;
    overflow: hidden; /* Приховує вміст, що виходить за межі */
    text-overflow: ellipsis; 
    word-wrap: break-word;
    text-align: center;
    
}
.main-text h1{
    white-space: nowrap;
    padding-left:3%;
    max-width: 90%; 
    font-weight: 700;
    color:#012a46;
    font-size: 5vw;
    margin-bottom:1vw;
}
.main-text h2{
  font-weight: 700;
  color:#012a46;
  white-space: normal; /* Дозволяє тексту переходити на новий рядок */
  word-wrap: break-word; /* Переносить довгі слова на новий рядок, якщо вони не поміщаються в один рядок */
  text-align:center;
  font-size: 1.2vw;
}

/*-------------------PopUp--------------------*/
input::placeholder {
    opacity: 1;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
 /* Приховує плейсхолдер тільки для конкретних інпутів */
  #loc::placeholder, #arrival::placeholder {
    opacity: 0;
  }
  html {
    scrollbar-width: none; /* Для Firefox */
    -ms-overflow-style: none; /* Для Internet Explorer и Edge */
  }
  
  html::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari и Opera */
  }
  body.no-scroll {
    overflow: hidden;
  }
    .popup{
      position:fixed;
      z-index: 1;
      width:100%;
      height:100%;
      background-color: #000000b2;
      top:0;
      left:0;
      opacity:0;
      visibility: hidden;
      transition: all 0.8s ease 0s;
    }
    .popup:target{
      opacity:1;
      visibility:visible;
    }
    .popup-body{
      min-height:100%;
      display:flex;
      align-items:center;
      justify-content: center;
      padding:1vw 1vw;
    }
    .popup:target .popup-cont{
      animation: appearancePopUp 2s 1;
      opacity: 1;
    }
    .popup-cont{
      background-color: #fff;
      color: black;
      max-width: 50vw;
      padding:1vw 3vw 1.1vw;
      position: relative;
      transition: all 0.8s ease 0s;
      opacity: 0;
      
    }
    .popup-close{
      position: absolute;
      right:0.7vw;
      top:0.7vw;
      font-size:1.5vw;
      color: black;
      text-decoration: none;
    }
    .order-header{
      font-size:2.3vw;
      padding-bottom: 1.3vw;
    }
    .order-data div{
      margin-bottom: 1.95vw;
    }
    .popup-area{
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      
    }
    .popup-button{
      text-decoration: none;
      display: inline;
      line-height: 2.6vw;
      padding: 0 1.5vw;
      text-transform: uppercase;
      letter-spacing: 0.2vw;
      font-size:1.15vw;
      border-radius: 0.5vw;
      top:0;
      position: relative;
      color: white;
      background-color: black;
      box-shadow: 0 5px 0px white;
      transition-duration: 0.5s;
    }
    .popup-button:hover{
      top:0.5vw;
      color:black;
      box-shadow: 0 3px 0px black;
      background-color: rgba(0, 255, 255, 0.689);
    }
    .popup-fill{
      z-index: 1;
      position: relative;
      background-color: black;
    }
    @keyframes appearancePopUp {
      0% {
        transform: scale(0.5);
      }
      50% {
        transform: scale(1);
      }
    }
    .label-box input {
      width: 100%;
      padding: 0.33vw;
      box-sizing: border-box;
      font-size: 1.16vw;
      border: none;
      border-bottom: 1px solid #757575;
  }
  .label-box label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.16vw;
      pointer-events: none;
      color: #757575;
      transition: 0.2s ease all;
      transform: translateY(0px);
  }
  .label-box input:focus + label,
  .label-box input:valid + label {
      font-size: 1.16vw;
      transform: translateY(-1.6vw);
  }
    .label-box {
      position: relative;
      width: 15vw;
    }
    #notfill, #filled {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      border-radius: 5px;
      padding: 20px;
      text-align: center;
      animation: fadeIn 0.5s ease-out; /* Анимация появления */
      box-shadow: 0 3px 0px;
      visibility: hidden; /* По умолчанию скрыты */
      opacity: 0; /* По умолчанию скрыты */
      transition: visibility 0s, opacity 0.5s linear; /* Плавный переход */
      z-index: 1001; /* Повыше затемненного фона */
    }
    
    #notfill {
      box-shadow: 0 3px 0px red;
    }
    
    #filled {
      box-shadow: 0 3px 0px rgb(0, 150, 0);
    }
    
    #notfill.visible, #filled.visible {
      visibility: visible; /* Отображаются при добавлении класса visible */
      opacity: 1; /* Отображаются при добавлении класса visible */
    }
    
    #shadow {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Затемненный фон */
      z-index: 1000; /* Позади сообщений */
      visibility: hidden; /* По умолчанию скрыт */
      opacity: 0; /* По умолчанию скрыт */
      transition: visibility 0s, opacity 0.5s linear; /* Плавный переход */
    }
    
    #shadow.visible {
      visibility: visible; /* Отображается при добавлении класса visible */
      opacity: 1; /* Отображается при добавлении класса visible */
    }
    
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    
    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    .main-text button {
      border-radius: 1vw;
      background-color: #012a46;
      border: none;
      color: white;
      text-align: center;
      font-size: 1.3vw;
      padding: 1vw;
      width: 15vw;
      transition: all 0.5s;
      cursor: pointer;
    
    }
    .main-text button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .main-text button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .main-text button:hover span {
      padding-right: 2vw;
    }
    
    .main-text button:hover span:after {
      opacity: 1;
      right: 0;
    }
    
  